---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <body>
        <div class="flex justify-center">
            <h1 class="absolute text-white pt-8">Nos Invités</h1>
            <img src="./src/assets/images/hero_invites.avif" alt="" />
        </div>
        <section>
            <div>
                <h2>
                    Découvrez les personnalités qui font briller le festival
                    cette année !
                </h2>
                <p>
                    Retrouvez la liste complète des réalisateurs, acteurs,
                    membres du jury, et autres talents qui vous partageront leur
                    passion pour le 7ᵉ art. Chaque invité est présenté avec un
                    aperçu de son parcours et ses contributions au festival.
                    Cliquez sur leur profil pour en savoir plus !
                </p>
            </div>
        </section>
    </body>
</Layout>
