---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <div>
            <h1>À propos</h1>
            <img src="" alt="" />
        </div>
    </section>
    <section>
        <div>
            <h2>Présentation du festival</h2>
            <p>
                Le Flash cinéma 25 est un festival audiovisuel de court métrage
                se déroulant chaque année en août dans le Doubs. Il met en avant
                des talents émergents du cinéma, proposant une programmation
                variée de courts métrages en plein air pour accentuer sa
                convivialité.
            </p>
        </div>
        <div>
            <h3>Création du Festival</h3>
            <p>
                Flash Cinéma 25 a été créé en 2020 par un groupe de passionnés
                d'audiovisuel et de cinéma dans le Doubs. Inspirés par le besoin
                de donner une tribune aux jeunes talents et d’offrir au public
                une expérience cinématographique immersive, les fondateurs ont
                choisi de mettre en avant les courts métrages dans une
                atmosphère conviviale. L'idée est née d'un projet universitaire
                qui a pris de l'ampleur grâce au soutien d'acteurs locaux et
                d'une communauté cinéphile active.
            </p>
        </div>
        <div>
            <h3>Objectifs du Festival</h3>
            <p>
                Le festival Flash Cinéma 25 vise à promouvoir les talents
                émergents en offrant une visibilité aux jeunes réalisateurs,
                tout en favorisant les échanges entre professionnels et
                spectateurs à travers ateliers, débats et projections. Ancré
                dans le Doubs, il soutient la culture locale et sensibilise aux
                enjeux contemporains tels que l’écologie, la diversité et
                l’innovation sociale.
            </p>
        </div>
    </section>
    <section>
        <div>
            <h2>Notre équipe</h2>
            <p>
                Voici les membres de nos équipes techniques qui permettent le
                bon fonctionnement de notre festival
            </p>
        </div>
    </section>
    <section>
        <h2>Charte de notre Festival</h2>
        <div>
            <h3>Nos valeurs</h3>
            <ul>
                <li>
                    Accessibilité & Convivialité : Un lieu d’échange chaleureux
                    entre cinéphiles et talents émergents.
                </li>
                <li>
                    Soutien aux Jeunes Réalisateurs : Une plateforme pour mettre
                    en lumière les nouveaux visages du cinéma.
                </li>
                <li>
                    Diversité & Innovation : Un espace d’expression pour des
                    visions variées et originales du court-métrage.
                </li>
                <li>
                    Engagement Écoresponsable : Sensibilisation et actions
                    concrètes pour un festival durable.
                </li>
            </ul>
        </div>
        <div>
            <h3>Thématique 2025 : "Regards sur Demain"</h3><p>
                Cette édition interroge le futur à travers des courts-métrages
                explorant dystopies, utopies et mutations du monde.
            </p>
        </div>
        <div>
            <h3>Nos Engagements</h3><ul>
                <li>Offrir un tremplin aux jeunes talents</li>
                <li>Encourager les rencontres et débats.</li>
                <li>Proposer une programmation qualitative et accessible</li>
                <li>Réduire l’impact écologique du festival.</li>
                <li>Valoriser la culture audiovisuelle locale.</li>
            </ul>
        </div>
    </section>
</Layout>
