---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <h1 class="flex justify-center">Billetterie</h1>
        <img src="./src/assets/images/hero_billetterie.avif" alt="" />
    </section>
    <section>
        <h2>Comment assister au festival ?</h2>
        <h3>Billeterie grand public</h3>
        <p>
            Si vous ne faites pas partie d'un groupe en sortie scolaire et que
            vous ne bénéficiez pas du Pass Culture individuel, il est possible
            pour vous d'assister au festival en réservant vos places via
            la Billetterie Grand Public
        </p>
        <div class="pt-4 flex justify-center">
            <button class="uppercase bg-orange-400 rounded-3xl p-3"
                ><a href="">Billetterie</a></button
            >
        </div>
        <h3>Vous êtes un établissement scolaire</h3>
        <p>
            Vous pouvez réserver un pass festival via le pass culture ou via les
            fonds de votre propre établissement.
        </p>
        <p>
            Le pass festival vous donne accès à l'intégralité des projections,
            ateliers cinéma et Masterclass pendant 2 jours.
        </p>
        <p>
            Veuillez remplir le formulaire suivant qui nous permettra par la
            suite de créer une offre personnalisée pour votre établissement via
            le pass culture :
        </p>
        <div class="pt-4 flex justify-center">
            <button class="uppercase bg-orange-400 rounded-xl p-3"
                ><a href="">Formulaire à remplir</a></button
            >
        </div>
    </section>
</Layout>
