---
import Layout from "../layouts/Layout.astro";
import FacebookColored from "../assets/icons/facebook_colored.svg";
import InstaColored from "../assets/icons/group39(3).svg";
import TwitterColored from "../assets/icons/twitter_colored.svg";
import YoutubeColored from "../assets/icons/youtube_colored.svg";
---

<Layout>
    <section>
        <div><h1>Contact du Festival</h1></div>
    </section>
    <section>
        <div>
            <h3>Informations :</h3>
            <ul>
                <li>
                    Siège social :
                    <li>15 rue Saint-Laurent 25290 Ornans, France</li>
                </li>
                <li>Tel : 03 81 45 67 89</li>
                <li>Mail : contact@flashcinema25.com</li>
            </ul>
        </div>
    </section>
    <section>
        <div>
            <h3>Nous contacter :</h3>
        </div>
        <div><h1>Formulaire</h1></div>
    </section>
    <section>
        <div>
            <h3>Nos réseaux sociaux :</h3>
            <div class="flex justify-center gap-10 scale-120 align-center">
                <div class="flex flex-col justify-center"><FacebookColored /><p>Facebook</p></div>
                <div class="flex flex-col justify-center"><InstaColored /><p>Instagram</p></div>
                <div class="flex flex-col justify-center"><TwitterColored /><p>Twitter</p></div>
                <div class="flex flex-col justify-center"><YoutubeColored /><p>Youtube</p></div>

               
            </div>
        </div>
    </section></Layout
>
