---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<body>
		<div class="relative">
			<img
				class="z-0 w-full relative"
				src="./src/assets/images/cineexterieur.avif"
				alt=""
			/>
		</div>
		<section>
			<div>
				<h1>Découvrez Flash cinéma 25 du 8 au 10 août !</h1>
				<p>
					Un festival avec des films si courts que vous aurez encore
					le temps pour l'apéro, du fromage et des montagnes !
				</p>
			</div>
		</section>
		<div class="py-4 flex justify-center">
			<button class="uppercase bg-orange-400 rounded-xl p-3">
				<a class="text-2xl" href="/billetterie"
					>Accéder à la billeterie</a
				>
			</button>
		</div>
		<section>
			<div class="flex flex-col gap-12">
				<div>
					<img
						class="rounded-lg"
						src="./src/assets/images/prog_accueil.avif"
						alt=""
					/>
					<div class="flex justify-end">
						<button
							class="relative -mt-4 -mr-2 uppercase bg-orange-400 rounded-xl p-3"
							><a href="/programmation">Programmation</a></button
						>
					</div>
				</div>
				<div>
					<img
						class="rounded-lg"
						src="./src/assets/images/invites_accueil.avif"
						alt=""
					/>
					<div class="flex justify-end">
						<button
							class="relative -mt-4 -mr-2 uppercase bg-orange-400 rounded-xl p-3"
							><a href="/invites">Nos Invités</a></button
						>
					</div>
				</div>
				<div>
					<img
						class="rounded-lg"
						src="./src/assets/images/activites_accueil.avif"
						alt=""
					/>
					<div class="flex justify-end">
						<button
							class="relative -mt-4 -mr-2 uppercase bg-orange-400 rounded-xl p-3"
							><a href="/activites">Activités</a></button
						>
					</div>
				</div>
				<div>
					<img
						class="rounded-lg"
						src="./src/assets/images/infos_accueil.avif"
						alt=""
					/>
					<div class="flex justify-end">
						<button
							class="relative -mt-4 -mr-2 uppercase bg-orange-400 rounded-xl p-3"
							><a href="/infos">Infos Pratiques</a></button
						>
					</div>
				</div>
				<div>
					<img
						class="rounded-lg"
						src="./src/assets/images/about_accueil.avif"
						alt=""
					/>
					<div class="flex justify-end">
						<button
							class="relative -mt-4 -mr-2 uppercase bg-orange-400 rounded-xl p-3"
							><a href="/about">À propos</a></button
						>
					</div>
				</div>
				<div>
					<img
						class="rounded-lg"
						src="./src/assets/images/contact_accueil.avif"
						alt=""
					/>
					<div class="flex justify-end">
						<button
							class="relative -mt-4 -mr-2 uppercase bg-orange-400 rounded-xl p-3"
							><a href="/contact">Contact</a></button
						>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div>
				<h3>Nos partenaires :</h3>
				<p>
					Nos partenaires, occupent un rôle essentiel et nous tenons à
					les remercier chaleureusement pour leur soutien indéfectible
					et précieux qui contribue à la réussite et au rayonnement de
					chaque manifestation.
				</p>
			</div>
			<div class="mt-12 mb-16">
				<ul>
					<div class="flex list-none items-center gap-16">
						<li>
							<figure>
								<img
									src="./src/assets/images/pole-metiers-arts.avif"
									alt=""
								/>
							</figure>
						</li>
						<li>
							<figure>
								<img
									class="pt-4"
									src="./src/assets/images/cnc.avif"
									alt=""
								/>
							</figure>
						</li>
					</div>
					<li>
						<figure>
							<img
								class="mt-4"
								src="./src/assets/images/bfc.avif"
								alt=""
							/>
						</figure>
					</li>
				</ul>
			</div>
		</section>
	</body>
</Layout>
