---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<body>
		<div class="relative">
			<img
				class="z-0 w-full relative"
				src="./src/assets/images/cineexterieur.avif"
				alt=""
			/>
		</div>
		<div>
			<h2>Découvrez Flash cinéma 25 du 8 au 10 août !</h2>
			<p>
				Un festival avec des films si courts que vous aurez encore le
				temps pour l'apéro, du fromage et des montagnes !
			</p>
		</div>
		<div class="flex justify-center">
			<button class="bg-orange-400 rounded-xl p-2">
				<a href="/billetterie">Accéder à la billeterie</a>
			</button>
		</div>
		<div>
			<img src="" alt="" /><a href="/programmation">Programmation</a>
		</div>
		<div><button><a href=""></a></button></div>
	</body>
</Layout>

