---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <div>
            <h1>Informations pratiques</h1>
            <img src="" alt="" />
        </div>
    </section>
    <section>
        <div>
            <h3>Tarifs</h3>
            <ul>
                <li><p>Billet simple : 7€ (accès à une projection)</p></li>
                <li>
                    <p>
                        Pass journée : 15€ (accès à toutes les projections d’une
                        journée)
                    </p>
                </li>
                <li>
                    <p>
                        Pass festival : 30€ (accès à toutes les projections et
                        événements durant toute la durée du festival)
                    </p>
                </li>
                <li>
                    <p>Réductions :</p>
                    <li>
                        <p>
                            Étudiants, demandeurs d'emploi, moins de 18 ans : 5€
                            (sur présentation d'un justificatif)
                        </p>
                    </li>
                    <li>
                        Tarif groupe (à partir de 10 personnes) : 6€ par
                        personne pour les projections.
                    </li>
                </li>
            </ul>
            <img src="" alt="" />
        </div>
    </section>
    <section>
        <div>
            <h3>Lieux</h3>
            <p>
                Le festival se déroulera à Ornans, avec des projections dans
                plusieurs lieux emblématiques :
            </p>
            <ul>
                <li>
                    Cinéma de la Ville d'Ornans : 10 Place de l'Hôtel de Ville,
                    25290 Ornans.
                    <li>
                        Salle principale pour les projections et événements.
                    </li>
                </li>
                <li>
                    Salle Saint Vernier : 5 Rue de la Liberté, 25290 Ornans
                    <li>Accueil des masterclasses et ateliers.</li>
                </li>
                <li>
                    Place Courbet : 25290 Ornans
                    <li>Projections en plein air (en fonction de la météo).</li>
                </li>
            </ul>
            <p>
                Des cartes des lieux seront disponibles à l'entrée des salles,
                ainsi que sur le site internet du festival.
            </p>
            <div><h1>Carousel</h1></div>
        </div>
    </section>
    <section>
        <div>
            <h3>Hébergements</h3>
            <ul>
                <li>
                    Hôtels :
                    <li>
                        Hôtel-Restaurant de la Vallée : 4 Route de la Vallée,
                        25290 Ornans (à 5 minutes en voiture du centre-ville).
                    </li>
                </li>
                <li>
                    Campings :
                    <li>
                        Les rives du Lison : 12 Chemin des Roches, 25290 Ornans
                    </li>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div>
            <h3>Transports</h3>
            <ul>
                <li>
                    En train : La gare de Besançon est à 30 minutes en train de
                    la gare d'Ornans. Des navettes gratuites seront disponibles
                    pour relier la gare à tous les lieux du festival.
                </li>
                <li>
                    En voiture : Ornans est accessible par l’A36 et la D67. Des
                    parkings gratuits seront disponibles près des salles
                    (Parking du Cinéma, Parking Place de la République).
                </li>
                <li>
                    Covoiturage : Un service de mise en relation pour le
                    covoiturage sera disponible sur le site du festival. Des
                    points de rendez-vous seront indiqués pour les départs
                    communs.
                </li>
            </ul>
        </div>
        <div>
            <figure>
                <img src="" alt="" />
                <figcaption>Gare d'Ornans</figcaption>
            </figure>
        </div>
        <div><h1>API MAPS ?</h1></div>
    </section>
    <section>
        <h3>Questions fréquentes</h3>
        <ul>
            <li>
                Où se déroule le festival ? Le festival Flash Cinéma 25 se tient
                à Ornans (25290), dans plusieurs lieux emblématiques de la
                ville, notamment en plein air et dans des salles partenaires.
            </li>
            <li>
                Comment accéder au festival ? Ornans est accessible en voiture
                (via la D67), en train (gare la plus proche : Besançon) et en
                bus régional. Des navettes seront-elles mises en place depuis
                Besançon ? Consultez notre site pour les mises à jour.
            </li>
            <li>
                Y a-t-il des solutions d’hébergement à proximité ? Oui,
                plusieurs options sont disponibles : campings, hôtels, chambres
                d’hôtes et gîtes aux alentours d’Ornans. Une liste
                d’hébergements partenaires est disponible sur notre site.
            </li>
            <li>
                Le festival est-il gratuit ? Certaines projections en plein air
                sont gratuites, tandis que d’autres événements (projections en
                salle, ateliers, rencontres) peuvent être payants. Consultez la
                billetterie en ligne pour plus de détails.
            </li>
            <li>
                Peut-on se restaurer sur place ? Oui, des stands de restauration
                locale et food trucks seront présents. Vous pouvez aussi
                profiter des restaurants d’Ornans.
            </li>
            <li>
                Le festival est-il accessible aux personnes à mobilité réduite ?
                Oui, nous veillons à rendre les lieux accessibles. Pour toute
                demande spécifique, contactez notre équipe.
            </li>
            <li>
                Les animaux sont-ils autorisés ? Les animaux ne sont pas admis
                dans les espaces de projection, sauf chiens guides.
            </li>
            <li>
                Que faire en cas de mauvais temps ? Les projections en plein air
                peuvent être déplacées en intérieur. Suivez nos réseaux sociaux
                pour les mises à jour.
            </li>
            <li>
                Où puis-je acheter mes billets ?Les billets sont disponibles en
                ligne et sur place (dans la limite des places disponibles).
            </li>
        </ul>
    </section>
</Layout>
