---
import CarouselFilm from "../../components/CarouselFilm.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <body>
        <div class="flex justify-center">
            <h1 class="absolute pt-12">Programmation</h1>
            <img src="./src/assets/images/hero_prog.avif" alt="" />
        </div>
        <section>
            <div>
                <h2>
                    Voici la liste des films choisis par nos soins pour une
                    expérience cinématographique unique et diversifiée.
                </h2>
            </div>
        </section>

        <section>
            <div>
                <h2 class="pb-4">Programmation du festival</h2>
                <CarouselFilm/>
            </div>
        </section>
        <section>
            <div></a>
                <h3>Séances spéciales</h3>
                <p>
                    Plongez dans l’univers unique du festival avec des
                    événements exclusifs :
                </p>
                <ul class="list-disc pl-6">
                    <li>
                        <p>
                            Avant-premières : Découvrez en exclusivité des
                            œuvres inédites et échangez avec leurs créateurs
                            lors de projections intimistes.
                        </p>
                    </li>
                    <li>
                        <p>
                            Masterclasses : Apprenez des plus grands noms du
                            cinéma et de l’audiovisuel grâce à des sessions
                            pédagogiques captivantes.
                        </p>
                    </li>
                    <li>
                        <p>
                            Rencontres : Participez à des discussions
                            privilégiées avec des réalisateurs, scénaristes ou
                            acteurs, et explorez les coulisses de leurs
                            créations.
                        </p>
                    </li>
                </ul>
                <figure class="pt-4 pb-4">
                    <img src="./src/assets/images/masterclass.avif" alt="" />
                    <figcaption class="flex justify-center pt-2">
                        Masterclass sur l'animation
                    </figcaption>
                </figure>
            </div>
            <div>
                <h3>Activités annexes</h3>
                <p>
                    Le festival, c’est bien plus que des projections ! Profitez
                    d’un éventail d’activités pour enrichir votre expérience :
                </p>
                <ul class="list-disc pl-6">
                    <li>
                        <p>
                            Ateliers : Initiez-vous aux techniques
                            audiovisuelles, du montage vidéo à l’écriture de
                            scénario, encadré par des professionnels.
                        </p>
                    </li>
                    <li>
                        <p>
                            Expositions : Admirez des installations artistiques
                            et photographiques célébrant le 7ᵉ art.
                        </p>
                    </li>
                    <li>
                        <p>
                            Animations : Vibrez avec des performances en direct,
                            projections en plein air, et moments conviviaux pour
                            tous les âges.
                        </p>
                    </li>
                </ul>
                <figure class="pt-4">
                    <img src="./src/assets/images/musee.avif" alt="" />
                    <figcaption class="flex justify-center pt-2">
                        Musée Gustave Courbet
                    </figcaption>
                </figure>
            </div>
        </section>
        <section>
            <div>
                <h3>Téléchargement du programme (PDF)</h3>
                <p>
                    Pour ne rien manquer, téléchargez le programme complet du
                    festival en un clic. Disponible au format PDF, il est conçu
                    pour vous accompagner partout, en ligne ou hors ligne.
                    <a class="text-black" href="">[Télécharger ici]</a>
                </p>
            </div>
        </section>
    </body>
</Layout>
