---
import Logo from "../assets/icons/logo.svg";
import InstaLogo from "../assets/icons/instagram.svg";
import TwitterLogo from "../assets/icons/twitter.svg";
import FacebookLogo from "../assets/icons/facebook.svg";
import YoutubeLogo from "../assets/icons/youtube.svg";
---

<footer class="bg-sky-950 text-white p-4">
    <div class="flex items-center">
        <Logo />
        <div class="ml-4">
            <h2>Flash Cinéma 25</h2>
            <p class="text-sm">1ère édition du 8 au 10 Août 2025</p>
        </div>
    </div>
    <div class="p-2 mt-4">
        <p class="uppercase text-sm text-gray-600 font-bold">Menu</p>
        <nav class="list-none *:uppercase">
            <li><a class="text-sm font-normal" href="">Mentions légales</a></li>
            <li>
                <a class="text-sm font-normal" href=""
                    >Politiques de confidentialité</a
                >
            </li>
            <li><a class="text-sm font-normal" href="">Crédits</a></li>
        </nav>
    </div>
    <div class="p-2">
        <p class="uppercase text-sm text-gray-600 font-bold">Contact</p>
        <a class="text-sm font-normal" href="mailto:contact@flashcinema25.com"
            >contact@flashcinema25.com</a
        >
    </div>
    <div class="p-2">
        <p class="uppercase text-sm text-gray-600 font-bold">Nous suivre</p>
        <div class="py-3 flex
            items-center
            gap-6">
            <a href=""><FacebookLogo /></a>
            <a href=""><InstaLogo /></a>
            <a href=""><TwitterLogo /></a>
            <a href=""><YoutubeLogo /></a>
        </div>
    </div>
    <p class="p-2">© 2025 Flash Cinéma 25</p>
</footer>
