---
import Logo from "../assets/icons/logo.svg";
---

<header
    class="flex w-full justify-between items-center p-4 pl-10 pr-10 bg-sky-950 text-white"
>
    <a href="/">
        <Logo />
    </a>
    <button
        id="menu-btn"
        class="group z-10 flex h-5 w-6 flex-col gap-1.5 lg:hidden *:block *:ease *:h-0.5 *:w-full *:transform *:rounded-full *:bg-white *:transition *:duration-300"
        aria-label="Menu"
        aria-controls="menu"
        aria-expanded="false"
    >
        <span
            class="group-aria-expanded:rotate-225 group-aria-expanded:translate-y-2"
        ></span>
        <span class="group-aria-expanded:rotate-135"></span>
        <span
            class="group-aria-expanded:rotate-225 group-aria-expanded:-translate-y-2"
        ></span>
    </button>
    <nav
        id="menu"
        class="flex-1 px-12 py-40 flex mt-20 flex-col fixed z-10 inset-0 bg-sky-950 visible opacity-100 *:after:block max-lg:aria-hidden:invisible max-lg:aria-hidden:opacity-0 lg:mt-0 lg:flex-row lg:static lg:bg-transparent lg:py-6 lg:visible lg:opacity-100 lg:gap-3 lg:justify-end "
        aria-hidden="true"
    >
        <a href="/programmation">Programmation</a>
        <span class="mb-8 block h-0.5 bg-white"></span>
        <a href="/billetterie">Billetterie</a>
        <span class="mb-8 block h-0.5 bg-white"></span>
        <a href="/activites">Activités</a>
        <span class="mb-8 block h-0.5 bg-white"></span>
        <a href="/invites">Invités</a>
        <span class="mb-8 block h-0.5 bg-white"></span>
        <a href="/infos">Infos Pratiques</a>
        <span class="mb-8 block h-0.5 bg-white"></span>
        <a href="/about">À propos</a>
        <span class="mb-8 block h-0.5 bg-white"></span>
        <a href="/contact">Contact</a>
        <span class="mb-8 block h-0.5 bg-white"></span>
    </nav>

    <script>
        // On cible les éléments à modifier
        const toggle = document.querySelector("#menu-btn");
        const nav = document.querySelector("#menu");
        const page = document.body;

        // Vérifier si les éléments existent avant d'ajouter l'événement
        if (toggle && nav) {
            toggle.addEventListener("click", () => {
                const isOpen = toggle.ariaExpanded === "true";
                const isClosed = !isOpen;
                // Mise à jour des attributs ARIA pour accessibilité
                toggle.ariaExpanded = String(isClosed);
                nav.ariaHidden = String(isOpen);
                page.classList.toggle("noscroll", isClosed);
            });
        }
    </script>
</header>
